.navbar-brand {
    padding: 5px !important;
}

.info-popover {
    text-align: left !important;
    padding-left: 0px !important;
}

html {
    overflow-y: scroll !important; /* forces vertical scrollbar  */
}

.error-container {
    margin: 0 5px 0 5px !important;
}

.rule-value-container input {
    padding: 6px 12px !important;
}

.nav-tabs {
    margin-bottom: 15px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

li .close {
    margin: 0 0 0 10px;
    font-size: 18px;
}
